.inline{
	display: inline-block;

}

.color-red{
	color:red;
}

.color-green{
	color:green;
}

.media-pantalla{
	width:40%;
}

.relative{
	position: relative;
	left: 80px;
}

.static{
	position: static;
}

.no-margin{
	margin: 0;
	margin-right: 0px;
}

.no-padding{
	padding: 0;
}

.no-margin-left{
	margin-left: 0px;
}